<style>
    :root {
        --fuentePrincipal: 'Poppins', sans-serif;
        --fuenteSecundaria: 'Montserrat', sans-serif;
        
        --primario: rgb(42,62,205);
        --primarioOscuro: rgb(28,46,182);
        --primarioTextos: rgb(24,46,94);
        --primarioClaro: rgb(217,225,254);
        --amarilloClaro: rgb(254,247,216);
        --gris: rgb(88,100,127);
        --grisClaro: rgb(238,243,255);
        --blanco: #ffffff;
        --negro: #000000;
    }
    
    html {
        font-size: 62.5%;
        box-sizing: border-box;
        zoom: 95%;
    }
    
    *, *:before, *:after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }
    
    /* Globales */
    body {
        font-size: 1.8rem;
        color: var(--gris);
        background-color: var(--blanco);
        line-height: 1.5;
        font-family: var(--fuenteSecundaria);
        
    }/* 1rem = 10px */
    
    p {
        font-family: var(--fuentePrincipal);
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    img {
        width: 100%;
    }
    
    h1, h2, h3 {
        font-family: var(--fuenteSecundaria);
        color: var(--primarioTextos);
    }
    
    h2 {
        font-size: 5rem;
    }
    
    /* Navegacion */
    .barra-navegación {
        background-color: rgba(255,255,255,.8);
        backdrop-filter: blur(.7rem);
        -webkit-backdrop-filter: blur(.7rem);
        width: 100%;
        position: fixed;
        z-index: 5;
    }
    
</style>
